1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [52]:
N = 101
a_list = [i for i in range(1,N)]
print('A list of numbers between 1 and N:\n')
print(a_list)

a_list = ['MickeyMouse' if el % 3 == 0 and el % 5 == 0 else 
          'Mickey' if el % 3 == 0 else
          'Mouse' if el % 5 == 0 else 
          el for i, el in enumerate(a_list)]

print('\nAfter change multiple elements:\n')
print(a_list)
print('\nChanging Micke with Donald and Mouse with Duck\n')

a_list = tuple([el.replace('Mickey', 'Donald').replace('Mouse', 'Duck') if isinstance(el, str) else el for el in a_list])

print((a_list))

A list of numbers between 1 and N:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

After change multiple elements:

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

Changing Micke with Donald and Mouse with Duck

<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [67]:
def swap(x,y):
    return y,x 
x, y = 4, 'rocknroll'
a,b = swap(x,y)
b

4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [84]:
import math as m
u = (0,0)
v = (1,1)
def distance(u,v):
    dist = sum([(x-y) ** 2 for x, y in zip(u,v)])
    return m.sqrt(dist)
    
distance(u,v)

1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [103]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

{'w': 1,
 'r': 1,
 'i': 1,
 't': 1,
 'e': 1,
 ' ': 1,
 'a': 1,
 'p': 1,
 'o': 1,
 'g': 1,
 'm': 1,
 'h': 1,
 'n': 1,
 's': 1,
 'u': 1,
 'b': 1,
 'f': 1,
 '1': 1,
 '0': 1,
 '.': 1,
 'l': 1,
 'c': 1,
 'k': 1,
 'y': 1,
 'd': 1,
 'v': 1}

In [174]:
diction = {}
s = s.lower()

for char in s:
    diction[char] = diction.get(char,0) + 1 
diction

{'w': 6,
 'r': 51,
 'i': 42,
 't': 57,
 'e': 66,
 ' ': 123,
 'a': 21,
 'p': 24,
 'o': 39,
 'g': 3,
 'm': 36,
 'h': 27,
 'n': 30,
 's': 27,
 'u': 27,
 'b': 15,
 'f': 30,
 '1': 6,
 '0': 6,
 '.': 6,
 'l': 18,
 'c': 9,
 'k': 6,
 'y': 6,
 'd': 9,
 'v': 6}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [148]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [182]:
l.sort()
numbers = {}
unique = list()
for number in l:
    numbers[number] = numbers.get(number,0) + 1
for key, value in numbers.items():
    if value == 1:
        unique.append(key)
print(f"These are the unique numbers:\n{unique}")

These are the unique numbers:
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [188]:
import math as m

def square(num):
    return num * num

def cube(num):
    return num ** 3

print(cube(square(37)))
square(cube(37))

2565726409

2565726409

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [191]:
alist = []
for num in range(10):
    alist.append(cube(num))
alist

alist = [cube(i) for i in range(10)]
alist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [197]:
triple = [(i,j,k)  for i in range(1, 101) for j in range(i,101) for k in range(j,101) if i ** 2 + j ** 2 == k ** 2]
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [206]:
def normalization(tpl):
    normalized_tuple = [el/sum(tpl) for el in tpl]
    return tuple(normalized_tuple)

In [209]:
normalization((1,4))

(0.2, 0.8)